fastapi
uvicorn
sqlalchemy
pymysql
cryptography
alembic
pydantic[email]
python-multipart
python-jose[cryptography]
passlib[bcrypt]
httpx
pinecone
python-dotenv
cloudinary
pypdf2
python-docx
slowapi
redis